{{ define "main" }}


<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->

<!-- Search input -->
<input type="search" id="search-input" placeholder="Search..." autocomplete="off">
<!-- Load Algolia scripts -->
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@3/dist/algoliasearchLite.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<!-- Initialise search -->
<script>
  var client = algoliasearch("BCFNFZ9GFR","4cfee06420487f3712b12bbd43f1f52a");
  var index = client.initIndex("techrelayblog");
  autocomplete('#search-input', { hint: false }, [
    {
      source: autocomplete.sources.hits(index, { hitsPerPage: 5 }),
        displayKey: 'title',
        templates: {
            suggestion: function(suggestion) {
              return suggestion._highlightResult.title.value;
            }
          }
      }
    ]).on("autocomplete:selected",function(event, suggestion, dataset, context) {
      console.log(event, suggestion, dataset, context);
    });
</script>
  .search-section {
    max-width: inherit;
    overflow: inherit;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
  }
  
  .search-form {
    max-width: inherit;
    overflow: inherit;
    display: flex;
  }
  
  input[type=text] {
    flex-grow: 2;
    padding: 12px 15px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-size: medium;
  }

  html[data-mode='lit'] input[type=text] {
    background-color: #EEE8D5;
    color: #000;
  }

  html[data-mode='dim'] input[type=text] {
    background-color:#0D3640;
    color: #E0E5E6
  }

  .input-label {
    padding: 12px 20px;
    flex-grow: 1;
    text-align: right;
    font-weight: bolder;
  }
  
  .matched-content {
    width: 100%;
    word-wrap: break-word;
    overflow: auto;
    text-overflow: ellipsis;
  }
  
  mark {
    word-wrap: break-word;
    overflow: hidden;
    background-color: orange;
  }
  
  html[data-mode='lit'] .post_item {
    background-color: #eee8d5;
  }
  
  </style>
{{ end }}

