<script src="https://cdn.jsdelivr.net/npm/algoliasearch@3/dist/algoliasearchLite.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>

var client = algoliasearch("BCFNFZ9GFR","4cfee06420487f3712b12bbd43f1f52a");
var index = client.initIndex("techrelayblog");
autocomplete('<input type="search" id="#search-input-element-id">', { hint: false }, [
  {
    source: autocomplete.sources.hits(index, { hitsPerPage: 10 }),
      displayKey: 'title',
       templates: {
          suggestion: function(suggestion) {
            return suggestion._highlightResult.title.value;
          },
          empty: function(suggestion) {
            return 'No result';
          }
        }
    }
  ]).on("autocomplete:selected",function(event, suggestion, dataset, context) {
    console.log(event, suggestion, dataset, context);
    window.location.assign(suggestion.url);
  });